.xpns-modal {
    color: gray;
}

.error {
    border-color: red;
}

.currency {
    width: 3ex;
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

tr.heading:not(:first-child) td {
    padding-top: 0.5em;
}

.mt-content {
    margin-top: 80px;
}

.z-top {
    z-index: 1100;
}

@media (min-width: 992px) {
    .mt-lg-content {
        margin-top: 80px;
    }
}

@media (min-width: 576px) {
    .mt-sm-content {
        margin-top: 80px;
    }
}
