.xpns-modal {
    color: gray;
}

.error {
    border-color: red;
}

.currency {
    width: 3ex;
    display: inline-block;
}

tr.heading:not(:first-child) td {
    padding-top: 0.5em;
}

.fit-content {
    width: fit-content;
}

.mt-content {
    margin-top: 80px;
}

@media (min-width: 992px) {
    .mt-lg-content {
        margin-top: 80px;
    }
}
