$sidebar-width-collapse: 4rem;
$sidebar-width: 11rem;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$sidebar-box-shadow-light: 0px 0px 3px 0px $gray-800;

$spacers: map-merge(
    $spacers,
    (
        "05": $spacer * 0.125,
    )
);

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
        "rounded-tl": (
            property: border-top-left-radius,
            class: rounded-tl,
            values: (
                null: $border-radius,
                1: $border-radius-sm,
                2: $border-radius,
                3: $border-radius-lg,
            ),
            responsive: true,
        ),
        "rounded-br": (
            property: border-bottom-right-radius,
            class: rounded-br,
            values: (
                null: $border-radius,
                1: $border-radius-sm,
                2: $border-radius,
                3: $border-radius-lg,
            ),
        ),
        "height":
            map-merge(
                map-get($utilities, "height"),
                (
                    responsive: true,
                )
            ),
        "position":
            map-merge(
                map-get($utilities, "position"),
                (
                    responsive: true,
                )
            ),
        "border":
            map-merge(
                map-get($utilities, "border"),
                (
                    responsive: true,
                )
            ),
        "border-color":
            map-merge(
                map-get($utilities, "border-color"),
                (
                    responsive: true,
                )
            ),
        "rounded":
            map-merge(
                map-get($utilities, "rounded"),
                (
                    responsive: true,
                )
            ),
    )
);

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
//@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
//@import "../node_modules/bootstrap/scss/toasts";
//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// Icons
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

ul.chevron {
    padding-left: 1.2rem;

    li {
        list-style-type: none;

        & > div::before {
            content: " ";
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 10px;
            border-top: 2px solid $light;
            border-right: 2px solid $light;
            display: inline-block;
            transform: rotate(135deg) translateY(0);
            margin-right: 0.7rem;
            transition: transform 0.2s;
            transform-origin: 75% 25%;
        }

        & > div.collapsed::before {
            transform: rotate(45deg) translateY(0px);
        }

        &.leaf-entry > div::before {
            content: "\2022";
            margin-top: 0;
            transform: rotate(0) translateY(0) translateX(4px);
            border: none;
        }
    }
}

div.bg-dark > ul.chevron > li.leaf-entry > div::before {
    /* no bullet points for root-level leafs */
    content: " ";
}

#drawer-right {
    transition: left 0.25s ease;
}

#app {
    z-index: 0;
    transition: margin-left 0.25s ease;

    @include media-breakpoint-up(sm) {
        margin-left: $sidebar-width-collapse;
    }

    @include media-breakpoint-up(xl) {
        margin-left: $sidebar-width;
    }
}

#sidebar {
    z-index: 1;
    transition-property: width, left, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    width: $sidebar-width;
    left: 0;

    /* TODO sidebar width always non-collapsed during offcanvas */
    &.collapsed {
        left: -$sidebar-width;
        box-shadow: none;
    }

    @include media-breakpoint-up(sm) {
        &.collapsed {
            left: 0;
            box-shadow: $sidebar-box-shadow-light;
        }
    }

    @include media-breakpoint-down(xl) {
        box-shadow: 0px 0px 50px 10px $gray-800;

        &.collapsed {
            width: $sidebar-width-collapse;

            .collapsed-hidden {
                /* TODO width 0 uncover animation */
                display: none;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        box-shadow: $sidebar-box-shadow-light;
    }

    .sidebar-brand {
        font-size: $navbar-brand-font-size;
    }
}

.error {
    border-color: red;
}

.currency {
    min-width: 1.2rem;
    display: inline-block;
    text-align: start;
}

.cursor-pointer {
    cursor: pointer;
}

.ratio-1x1 {
    --bs-aspect-ratio: 100%;
}

.xpns-hover:hover {
    background-color: rgba(0, 0, 0, 0.075) !important;
}

.xpns-hover.active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.border-success-opacity-25 {
    border-color: rgba(25, 135, 84, 0.25) !important;
}

.gutter-padding {
    padding-right: calc(var(--bs-gutter-x) * 0.5); // stylelint-disable-line function-disallowed-list
    padding-left: calc(var(--bs-gutter-x) * 0.5); // stylelint-disable-line function-disallowed-list
}

/* lg */
@include media-breakpoint-up(lg) {
    .ratio-1x1 {
        --bs-aspect-ratio: 90%;
    }
    .lh-md-base {
        line-height: 1.5 !important;
    }
}

@include media-breakpoint-down(lg) {
    #expense-form.dc-active {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #expense-form.dc-active > #controls-container {
        flex-grow: 1;
        position: relative;
    }

    #expense-form.dc-active #description-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }

    #expense-form.dc-active #description-container > #proposal-container {
        overflow: auto;
    }

    .position-lg-down-relative {
        position: relative;
    }
}

.fs-calendar {
    font-size: $font-size-base;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 0.8;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
    }
}
